<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="css/bootstrap.min.css" >
     
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        serving up htm
      </div>
    </div>
    <script src="js/bootstrap.min.js" ></script>
    <script src="js/jquery.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="js/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  </body>
</html>